<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ICMS Application</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/complaint/login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			com.fdmgroup.icms.servlets.LoginServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/issues</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.fdmgroup.icms.filters.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<servlet-name>LoginServlet</servlet-name>
	</filter-mapping>

</web-app>